* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.entry-text {
  font-size: 11px;
  padding-right: 24px;
}

@media only screen and (min-width: 410px) {
  .entry-text {
    font-size: 13px;
    padding-right: 26px;
  }
}

@media only screen and (min-width: 460px) {
  .entry-text {
    font-size: 14px;
    padding-right: 28px;
  }
}

@media only screen and (min-width: 510px) {
  .entry-text {
    font-size: 16px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 550px) {
  .entry-text {
    padding-right: 10px;
  }
}
